body{
    height: 100%;
    display: block;
    font-size: 62.5%;
    color: #fff;
    font-family: "Lato";
}

            /* Navbar Work */

<<<<<<< HEAD
#bloc4 {
=======
#work {
>>>>>>> acd2f46c2dd5fb15ed13484c85d6b3d4eb36a61b
    background: url('../img/fond4.jpg') center no-repeat;
    height: 2000px;
    width: 100%;
    display: inline-block;
    -webkit-background-size: cover;
    background-size: cover;
}

<<<<<<< HEAD
#bloc4 img {
=======
#work img {
>>>>>>> acd2f46c2dd5fb15ed13484c85d6b3d4eb36a61b
    margin-top: 1vh;
    margin-left: 2vw;
    height: 20px;
    width: auto;
}

<<<<<<< HEAD
#bloc4 nav ul {
=======
#work nav ul {
>>>>>>> acd2f46c2dd5fb15ed13484c85d6b3d4eb36a61b
    float: right;
    list-style: none;
    margin-top: 0;
}

<<<<<<< HEAD
#bloc4 nav ul li {
=======
#work nav ul li {
>>>>>>> acd2f46c2dd5fb15ed13484c85d6b3d4eb36a61b
    display: inline-block;
    margin-top: none;
    padding: 0 1vw;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 3.333;
    text-align: right;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

<<<<<<< HEAD
#bloc4 nav ul li:nth-child(4) {
    background-color: #a1ca6c;
}

#bloc4 nav ul li:last-child {
    margin-right: 15vw;
}



#bloc4 nav ul li a {
    text-decoration: none;
}

#bloc4 nav ul li a:visited {
=======
#work nav ul li:nth-child(4) {
    background-color: #a1ca6c;
}

#work nav ul li:last-child {
    margin-right: 15vw;
}

#work nav ul li:hover {
    background-color: #a1ca6c;
}

#work nav ul li a {
    text-decoration: none;
}

#work nav ul li a:visited {
>>>>>>> acd2f46c2dd5fb15ed13484c85d6b3d4eb36a61b
    text-decoration: none;
    color: #fff;
}

            /* Ligne */

#trait1{
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 10px;
    background: transparent;
    border-width: 0 0 1px;
}

#trait2 {
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 10px;
    background: transparent;
    border-width: 0 0 1px;
}

            /* Portfolio */

#portfolio {
    display: block;
}

#portfolio p{
    display: inline-block;
    margin-left: 50px;
    font-size: 20px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    position: absolute;
    margin-top: 10px;
}

#portfolio ul {
    display: inline-block;
    margin-left: 150px;
}

#portfolio ul a{
    margin-left: 15px;
    padding: 0 1vw;
    text-decoration: none;
    font-size: 16px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    font-weight: normal;
    line-height: 1.5;
}

#portfolio ul a:nth-child(2) {
    background-color: #f5c149;
    height: 25%;
}

            /* Cadre */

#image {
    display: block;
}

.img {
    display: inline-block;
    width: 32vw;
    height: 50vh;
    margin: 2vh 0.5vw 27px;
    text-align: center;
    border-radius: 5px;
    margin-left: 45px;
}

#img1{
    background: url(../img/Layer_12.png) center no-repeat;
    background-size: contain;
}

.img:hover #img1 {
    background:url(../img/Rectangle_2.png);
}

#img2{
    background: url(../img/Layer_15.png) center no-repeat;
    background-size: contain;
}

#img3{
    background: url(../img/Layer_17.png) center no-repeat;
    background-size: contain;
}

#img4{
    background: url(../img/Layer_18.png) center no-repeat;
    background-size: contain;
}

#img5{
    background: url(../img/Layer_19.png) center no-repeat;
    background-size: contain;
}

#img6{
    background: url(../img/Layer_20.png) center no-repeat;
    background-size: contain;
}

#img7{
    background: url(../img/Layer_21.png) center no-repeat;
    background-size: contain;
}

#img8{
    background: url(../img/Layer_22.png) center no-repeat;
    background-size: contain;
}

.img  p {
    font-size: 15px;
    font-family: "Lato";
    color: rgb(114, 114, 114);
    margin-left: 20px;
    margin-top: 240px;
}

.img .fleche{
    text-align: center;
    width: 15%;
    height: 15%;
    margin-left: 70px;
    margin-top: -65px;
}

            /* Navbar Contact */

#contact {
    background: url('../img/fond5.jpg') center no-repeat;
    height: auto;
    width: 100%;
    display: inline-block;
    -webkit-background-size: cover;
    background-size: cover;
}

#contact img {
    margin-top: 1vh;
    margin-left: 5vw;
    height: 20px;
    width: auto;
}

#contact nav ul {
    float: right;
    list-style: none;
    margin-top: 0;
}

#contact nav ul li {
    display: inline-block;
    margin-top: none;
    padding: 0 1vw;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 3.333;
    text-align: right;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#contact nav ul li:last-child{
    background-color: #74c7d5;
}

#contact nav ul li:last-child {
    margin-right: 15vw;
}

#contact nav ul li:hover {
    background-color: #74c7d5;
}

#contact nav ul li a {
    text-decoration: none;
}

#contact nav ul li a:visited {
    text-decoration: none;
    color: #fff;
}

            /* Text Work_Contact */

#titre {
    text-align: center;
    margin-top: 8vh;
    padding: 0 2vw;
}

#titre h3 {
    font-size: 2em;
    text-align: center;
    font-weight: 100;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    margin-top: 80px;
}

#titre p {
    font-size: 14px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    line-height: 1.714;
    text-align: center;
    margin-right: 25px;
    position: absolute;
}

            /* Lieux */

#lieux {
    text-align: center;
    margin-top: 170px;
}

#address {
    float: left;
    margin-left: 30px;
}

#address h3 {
    margin-top: -10px;
    font-size: 30px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    text-align: left;
    position: absolute;
    font-weight: 100;
}

#address a {
    margin-top: 35px;
    font-size: 20px;
    font-family: "Lato";
    color: rgb(192, 223, 218);
    font-weight: bold;
    text-align: left;
    position: absolute;
}

#address p {
    margin-top: 70px;
    font-size: 16px;
    font-family: "Lato";
    color: rgb(255, 255, 255);;
    text-align: left;
    position: absolute;
    height: 105px;
}
#address ul {
    margin-left: -40px; 
}

#address ul p {
    margin-top: 120px;
    font-size: 16px;
    font-family: "Lato";
    color: rgb(208, 239, 234);
    text-align: left;
    position: absolute;
}

#googlemaps{
    margin-left: 250px;
    padding-top: 20px;
}

iframe {
    height: 180px;
    width: 200px
}

form{
    margin-top: 8px;
}

#question {
    margin-left: 100px;
}

#question h3{
    margin-left: px;
    font-size: 30px;
    font-weight: 100;
    font-family: "Lato";
    color: rgb(255, 255, 255);
}

#name {
    width: 40%;
    border-radius: 4px;
    background-color: rgb(104, 160, 151);
}

#blanc {
    width: 40%;
    background-color: transparent;
    border: 25%;
    border-radius: 4px;
    background-color: rgb(246, 246, 246);
}

#message {
    margin-top: 15%;
    width: 82%;
    margin-top:26px;
    border-radius: 4px;
    background-color: rgb(104, 160, 151);
}

#submit {
    margin-left: 150px;
    width: 20%;
    border-radius: 4px;
    background-color: rgb(223, 92, 100);
    box-shadow: inset 0px -4px 0px 0px rgba(178, 74, 80, 0.5);
}

            /* Footer */
footer { 
    height: 90px;
    width: 100%;
    background: url('../img/fond6.jpg');
}

#reseaux {
    text-align: center;
    width:90%;
    padding: 25px;
    margin-left: 30px;
}

#reseaux a {
    display: inline-block;
    padding: 10px;
    height: 40px; 
    width: 100px;
}

#reseaux a:first-child{
    background: url('../img/facebookfooter.png') no-repeat;
    background-size: 45px;
}

#reseaux a:nth-child(2){
    background: url('../img/twitterfooter.png') no-repeat; 
    background-size: 45px;

}

#reseaux a:nth-child(3){
    background: url('../img/googleplusfooter.png') no-repeat; 
    background-size: 45px;

}

#reseaux a:last-child{
    background: url('../img/linkedinfooter.png') no-repeat; 
    background-size: 45px;

}
