            /* Page Work */
#work {
    height: 1200px;
}

            /* Portfolio */

#portfolio p{
    margin-top: 13px; 
}

#portfolio ul {
    display: inline-block;
    margin-left: 62%;
}

            /* Cadre */
#image {
    margin-left: 95px; 
}

.img {
    width: 15vw;
    margin: 4vh 1.5vw ;
    margin-left: 50px; 
}


.img  p {
    font-size: 15px;
    font-family: "Lato";
    color: rgb(114, 114, 114);
    margin-left: 20px;
    margin-top: 205px;
}

.img .fleche{
    margin-left: -55px;
    margin-top: -77px;
}


            /* Page contact */

#contact {
    height: 865px;
}

            /* Text Work_Contact */

#titre h3{
    font-size: 60px;
    font-weight: 100;
    margin-top: 120px; 
}

#titre p{
    margin-bottom: 15px;    
    margin-top: -20px;
    margin-left: 250px;
    margin-right: 250px;
}

            /* Lieux */

#lieux {
    margin-left: 250px;
}

#address ul p {
    margin-top: 150px;
    font-size: 16px;
    font-family: "Lato";
    color: rgb(208, 239, 234);
    text-align: left;
    position: absolute;
}

#googlemaps{
    margin-right: 270px;
    margin-top: 25px;
}

iframe {
    height: 220px;
    width: 250px;
    margin-top: -15px;
}

#question{
    margin-left: 600px; 
    margin-right: 1px;
    margin-top: -265px;
}
#name {
    width: 260px;
    height: 40px;
}

#blanc {
    width: 260px;
    height: 40px;
}

#message {
    width: 81%;
}

#submit {
    width: 20%;
    height: 40px;
    margin-top: 20px;
    margin-left: 60px;
}