body {
    height: 100%;
    display: block;
    font-size: 62.5%;
    color: #fff;
    font-family: "Lato";
}

a {
    text-decoration: none;
    color: #fff;
}
/* BLOC GENERAL */
.bloc {
    height: auto;
    width: 100%;
    display: inline-block;
    -webkit-background-size: contain;
    background-size: contain;
    margin-top: 0;
}


/* NAVBAR GENERAL */
img {
    margin-top: 2vh;
    margin-left: 10vw;
    height: 3vh;
    width: auto;
}

nav ul {
    float: right;
    list-style: none;
    margin-top: 0;
}

nav ul li {
    font-size: 1.5em;
    display: inline-block;
    margin-top: none;
    padding: 3.1vh 2vw 1vh;
    color: rgb(255, 255, 255);
    text-align: right;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav ul li:last-child {
    margin-right: 7vw;
}

nav ul li a:visited,
nav ul li a:active,
nav ul li:hover {
    text-decoration: none;
    color: #fff;
}

/* BLOC 1 */
#bloc1 {
    background: url('../img/fond1.jpg') left top no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    
}

#bloc1 .activelink,
#bloc1 nav ul li:hover {
    background-color: #74c7d5;
}

#bloc1 #carrousel {
    margin-top: 13vh;
    text-align: center;
}

#bloc1 #arrowleft {
    display: inline-block;
}

#bloc1 #arrowleft img {
    height: 4vh;
    margin-left: 0;
}

#bloc1 #slogan {
    text-align: center;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.302);
    padding: 3vh 1vw;
    width: 65vw;
    margin: 5vh 5vw 0;
    display: inline-block;
}

#bloc1 #ideas {
    font-size: 4.5vw;
    color: rgb(116, 199, 213);
    line-height: 0.967;
    text-align: right;
    display: inline-block;
}

#bloc1 #first {
    display: inline-block;
    text-align: left;
    font-size: 10vw;
    color: rgb(116, 199, 213);
    margin-top: -3vh;
    font-weight: bold;
}

#bloc1 #arrowright {
    display: inline-block;
}

#bloc1 #arrowright img {
    height: 4vh;
    margin-left: 0;
}

#bloc1 #links {
    margin: 20vh 0 5vh;
}

#bloc1 #links img {
    height: 2vh;
    margin-left: 2vw;
    margin-bottom: 3vh;
}

/* BLOC 2 */

#bloc2 {
    background: url('../img/fond2.jpg') left top no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

#bloc2 .activelink,
#bloc2 nav ul li:hover {
    background-color: #df5c64;
}

.text {
    margin-top: 8vh;
    text-align: center;
    padding: 0 2vw;
}

.title {
    font-size: 2em;
}

.title,
#subtitle {
    text-transform: uppercase;
    margin-bottom: 2vh;
}

#subtitle {
    font-size: 1.1em;
}

#subtitle span {
    color: #d27b80;
}

.description {
    font-size: 1.3em;
    color: #fff;
    line-height: 1.714;
}
#bloc2 .description {
    font-size: 1em;
    color: rgb(255, 204, 207);
}
.miniblocs {
    text-align: center;
    margin-bottom: 5vh;
}
.rang {
    display: block;
}
.minibloc {
    display: inline-block;
    width: 30vw;
    margin: 7vh 0.5vw 0;
    text-align: center;
    padding: 3vh 1vw;
    border-radius: 5px;
}

.minibloc img {
    height: 8vh;
    margin-left: 0;
}

.minibloc .title {
    font-size: 3.5vw;
    margin: 2vh 0;
    white-space: nowrap;
}

#bloc2 .minibloc {
    background-color: rgba(200, 83, 90, 0.8);
}

/* BLOC 3 */

#bloc3 {
    background: url('../img/fond3.jpg') left top no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

#bloc3 .activelink,
#bloc3 nav ul li:hover {
    background-color: #91778e;
}

#bloc3 .description {
    color: #fff;
    font-size: 1.3em;
}

#bloc3 #meet_team {
    margin-top: 4vh;
    background: url(../img/meet_team_bg.png) top center no-repeat;
    background-size: contain;
    height: 11vh;
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
}

#bloc3 #meet_team p {
    padding: 2vh;
}

#bloc3 .minibloc {
    background-color: rgba(86, 71, 84, 0.502);
}

#bloc3 .minibloc:hover {
    background-color: rgba(77, 63, 75, 0.8);
}

#bloc3 .minibloc .user {
    width: 15vw;
    height: 10vh;
    background: url(../img/user.png) center no-repeat;
    background-size: contain;
    display: inline-block;
}

#bloc3 .minibloc:hover .user {
    background: url(../img/userhover.png) center no-repeat;
    background-size: contain;
}

#bloc3 .minibloc .title {
    color: rgb(199, 182, 197);
    font-weight: bold;
}

#bloc3 .minibloc:hover .title {
    color: #fff;
}

#bloc3 .minibloc p {
    color: rgb(161, 202, 108);
    font-size: 2vw;
     white-space: nowrap;

}

#bloc3 .minibloc:hover p {
    color: rgb(255, 137, 115);
}

#bloc3 .reseaux div {
    width: 4vw;
    height: 4vh;
    display: inline-block;
    margin: 1vh 0.7vw 0 0;
}

#bloc3 .minibloc .reseaux .facebook {
    background: url(../img/facebook.png) center no-repeat;
    background-size: contain;
}

#bloc3 .minibloc:hover .reseaux .facebook {
    background: url(../img/facebookhover.png) center no-repeat;
    background-size: contain;
}

#bloc3 .minibloc .reseaux .twitter {
    background: url(../img/twitter.png) center no-repeat;
    background-size: contain;
}

#bloc3 .minibloc:hover .reseaux .twitter {
    background: url(../img/twitterhover.png) center no-repeat;
    background-size: contain;
}

#bloc3 .minibloc .reseaux .googleplus {
    background: url(../img/googleplus.png) center no-repeat;
    background-size: contain;
}

#bloc3 .minibloc:hover .reseaux .googleplus {
    background: url(../img/googleplushover.png) center no-repeat;
    background-size: contain;
}

#bloc3 .minibloc .reseaux .linkedin {
    background: url(../img/linkedin.png) center no-repeat;
    background-size: contain;
}

#bloc3 .minibloc:hover .reseaux .linkedin {
    background: url(../img/linkedinhover.png) center no-repeat;
    background-size: contain;
}

#vide {
    width: 100%;
    height: 50vh;
}

/* BLOC 4 */
#bloc4 {
    background: url('../img/fond4.jpg') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#bloc4 .activelink, #bloc4 nav ul li:hover {
    background-color: #a1ca6c;
}

#bloc4 .description {
    color: #fff;
    font-size: 1.3em;
}

#trait1, #trait2{
    margin: 3vh 7vw 0;
    border-width: 0 0 1px;
}

#portfolio {
    display: block;
}

#portfolio p{
    display: inline-block;
    margin-left: 7vw;
    font-size: 2em;
    position: absolute;
    margin-top: 10px;
    text-transform: uppercase;
}

#portfolio ul {
    margin-left: 40vw;
    list-style: none;
}

#portfolio ul li {
    display: inline-block;
    margin-left: 1vw;
    padding: 0 1vw;
    font-size: 1.6em;
    line-height: 1.5;
    padding: 0.5vh 1vw;
    border-radius: 5px;
}

#portfolio ul li:hover {
    background-color: #f5c149;
    
}
#image {
    display: block;
    text-align: center;
    margin: 5vh 0;
}

.img {
    display: inline-block;
    width: 32vw;
    height: 32vh;
    margin: 2vh 0vw;
    text-align: center;
    border-radius: 5px;
    bottom: 0;
    background: #fff;
}

.img img {
    width: inherit;
    height: auto;
    margin: 0;
    bottom: 0;
}

.img p  {
    font: 1.1em;
    color: rgb(114, 114, 114);
    background: #fff;
    margin: 0;
    top: 0;
    padding: 1vh 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.espace {
    margin-right: 4vw;
}

.hover {
    display: none;
}

            /* BLOC 5 */

#bloc5 {
    background: url('../img/fond5.jpg') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#bloc5 .activelink, #bloc5 nav ul li:hover {
    background-color: #74c7d5;
}

#lieux {
    text-align: center;
    margin-top: 5vh;
    display: inline-block;
}

#localisation {
    display: inline-block;
}

#address {
    display: inline-block;
    margin-left: 5vw;
}

#address h3 {
    font-size: 3em;
    text-align: left;
    font-weight: 100;
    margin-bottom: 0;
}

#address h4 {
    font-size: 2em;
    color: rgb(192, 223, 218);
    font-weight: bold;
    text-align: left;
    margin: 0;
}

#address p {
    font-size: 1.6em;
    text-align: left;

}
#address #infos {
    margin-top: 15vh;
    font-size: 1.6em;
    text-align: left;
}

#address #infos span {
    color: rgb(208, 239, 234);
    padding-right: 5vw;
}

#address #infos #fax {
    padding-right: 7.9vw;
}

#googlemaps{
    display: inline-block;
    margin-left: 10vw;
}

iframe {
    height: 40vh;
    width: 40vw;
}

#form {
    display: block;
}

#question{
    margin-top: 10vh;
}
input[type="text"], textarea {
    color: rgb(130, 200, 189); 
    width: 38%;
    padding: 2vh 2vw;
    border: 0;
    border-radius: 4px;
    background-color: rgb(104, 160, 151);
}
#name {
    margin-right: 1vw;
}

#message {
    width: 82%;
    margin: 5vh 0 3vh;
    border-radius: 4px;
}

input:focus, #message:focus {
    background: #fff;
}

#submit {
    width: 40vw;
    border: 0;
    border-radius: 4px;
    padding: 2vh 5vw;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    font-size: 2em;
    background-color: rgb(223, 92, 100);
    box-shadow: inset 0px -4px 0px 0px rgba(178, 74, 80, 0.5);
    margin-bottom: 5vh;
}

            /* Footer */
footer { 
    height: auto;
    width: 100%;
    background: url('../img/fond6.jpg');
}

#reseaux {
    text-align: center;
    width:90%;
    padding: 25px;
}

#reseaux a {
    display: inline-block;
    padding: 0 2vw;
    height: 10vh; 
    width: 10vh;
}

#reseaux a:first-child{
    background: url('../img/facebookfooter.png') no-repeat;
    background-size: contain;
}

#reseaux a:nth-child(2){
    background: url('../img/twitterfooter.png') no-repeat; 
    background-size: contain;

}

#reseaux a:nth-child(3){
    background: url('../img/googleplusfooter.png') no-repeat; 
    background-size: contain;

}

#reseaux a:last-child{
    background: url('../img/linkedinfooter.png') no-repeat; 
    background-size: contain;

}



