img {
    margin-top: 4.5vh;
    margin-left: 20vw;
}

nav ul li {
    padding: 4.5vh 1vw 2vh;
}

nav ul li:last-child {
    margin-right: 20vw;
}

#bloc1 {
    background-size: auto;
}

#bloc1 #carrousel {
    margin-top: 34vh;
}

#bloc1 #slogan {
    width: 840px;
}

#bloc1 #ideas {
    font-size: 6em;
}

#bloc1 #first {
    font-size: 14em;
}

#bloc1 #arrowleft {
    margin-right: 10vw;
}

#bloc1 #arrowright {
    margin-left: 10vw;
}

#bloc1 #links {
    margin-top: 34vh;
    margin-bottom: 9vh;
}

#bloc1 #links img {
    height: 2vh;
    margin-left: 2vw;
    margin-bottom: 3vh;
}

#bloc2 .text {
    margin: 0 13vw;
}

#bloc2 .text .title {
    font-size: 6em;
    margin-top: 12vh;
    margin-bottom: 4vh;
}

.miniblocs {
    margin-bottom: 12.8vh;
}

.minibloc {
    min-height: 400px;
}

.minibloc img {
    height: 145px;
    width: auto;
}

.minibloc .title {
    margin-bottom: 5vh;
}

.minibloc p, #bloc3 .minibloc p {
    font-size: 1.4em;
}

#bloc3 .minibloc .user {
    height: 16vh;
    width: 16vw;
    margin-top: 4vh;
    margin-left: 0;
}
#bloc3 .minibloc .title {
    margin-bottom: 0;
}
#bloc3 .minibloc p {
    margin-bottom: 5vh;
}
#bloc3 .reseaux {
    padding-top: 7vh;
}
#bloc3 .reseaux div {
    height: 3.5vh;
    width: 3.5vw;
    margin-right: 0;
}

