nav .hidden, #bloc1 {
    display: inline-block;
}


.title {
    font-size: 3em;
}

#subtitle {
    font-size: 2em;
}

.description {
    font-size: 1.4em;
}
.miniblocs {
    padding-bottom: 10vh;
}
.rang {
    display: inline-block;
}
.minibloc {
    width: 15vw;
    padding: 2vh 2vw;
}

.minibloc img {
    height: 14vh;
}

.minibloc .title {
    font-size: 2vw;
}

#bloc3 #meet_team {
    height: 8vh;
    padding-top: 1.2vh;
}

#bloc3 .minibloc .user {
    width: 15vw;
    height: 15vh;
}

#bloc3 .reseaux div {
    width: 3vw;
    height: 3vh;
    margin: 1vh 0.5vw 0 0;
}