body {
    display: block;
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

.bloc {
    height: 800px;
    width: 100%;
    display: inline-block;
    -webkit-background-size: cover;
    background-size: cover;
}

#accueil {
    background: url('../img/fond1.jpg') center no-repeat;
}

#services {
    background: url('../img/fond2.jpg') center no-repeat;
}

#about {
    background: url('../img/fond3.jpg') center no-repeat;
}

img {
    margin-top: 2vh;
    margin-left: 10vw;
    height: 50px;
    width: auto;
}

nav ul {
    float: right;
    list-style: none;
    margin-top: 0;
}

nav ul li {
    font-size: 2.7em;
    display: inline-block;
    margin-top: none;
    padding: 2.5vh 1vw 1vh;
    font-family: "Lato", sans-serif;
    color: rgb(255, 255, 255);
    text-align: right;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#accueil nav ul li:first-child {
    background-color: #74c7d5;
}

nav ul li:last-child {
    margin-right: 10vw;
}

nav ul li a:visited,
nav ul li a:active,
nav ul li:hover {
    text-decoration: none;
    color: #fff;
}
